<% if (locals.posts) { %> <% posts.forEach((post) => { %>
<p><% if (locals.showDetails) { %> <%= post.firstname %></p>
<% } else {%>
<p>Unknown</p>
<% } %>
<p><%= post.title %></p>
<p><%= post.message %></p>
<%= post.timestamp %></p>
 <% if (locals.showDelete) { %>
<form action="/deletePost" method="post">
  <button name="postId" value="<%= post.id %>">Delete</button>
</form>
<% } %> <% }) %> <% } %>
