<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <% if(locals.currentUser) {%> <%- include("../components/nav.ejs",
    {memberStatus: locals.currentUser.ismember, user:
    locals.currentUser.username, isAuthenticated: true, notMember:
    locals.currentUser.ismember}) %>
    <div class="container">
      <%- include("../components/showAllPosts.ejs", {showDetails:
      locals.currentUser.isadmin || locals.currentUser.ismember, showDelete:
      locals.currentUser.isadmin}) %> <%- include("../components/bot-nav.ejs",
      {isAuthenticated: true}) %>
    </div>
    <% } else { %> <%- include("../components/nav.ejs", {notMember: true, user:
    "Guest", isAuthenticated: false}) %>
    <div class="container">
      <%- include("../components/showAllPosts.ejs", {showDetails: false,
      showDelete: false}) %> <%- include("../components/bot-nav.ejs",
      {isAuthenticated: false}) %> <% } %>
    </div>
  </body>
</html>
